<launch>
	<node pkg="rosbag" type="play" name="rosbag" required="true" args=" -r 60 /media/robertslab/RosBagDump/ROSbagFiles/RL_run_image.bag"/>
	<node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
		<remap from="image" to="/bag_image"/>
	</node>
</launch>